GM_API_TOKEN=
GM_RECIPE_UUID=
EMAIL_USER=
EMAIL_PASS=
EMAIL_TO=
TIKTOK_PACKAGE=com.zhiliaoapp.musically
TIKTOK_ACTIVITY=com.ss.android.ugc.aweme.splash.SplashActivity
APPIUM_SERVER=http://localhost:4723/wd/hub
